# Database Configuration
DB_URL=jdbc:mysql://host:3306/db_name
DB_USER=user
DB_PASSWORD=password

# Server Configuration
SERVER_HOST=localhost
SERVER_PORT=5000

# Mail Configuration
MAIL_ADDRESS=ismaillyamani4@gmail.com
MAIL_PASSWORD=secret password
